dist
test
build
.cache
.DS_Store
.directory
*.log
*.pfx
npm-debug.log
npm-debug.log.*
package-lock.json
thumbs.db
stat.json

# yarn2
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
